#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    parameters:
        obo:
            developerMode: true
            tempDir: %tempDir%/obo
            datastorageTempDir: %tempDir%/datastorage

    php:
        date.timezone: Europe/Prague
        session.save_path: "%tempDir%/sessions"

    nette:
        application:
            errorPresenter: Error

        session:
            expiration: 14 days

        debugger:
            blueScreen:
                - Obo\ForeseenErrorPanel::addPanel

    extensions:
        dibi: Dibi\Bridges\Nette\DibiExtension22

    dibi: %database%

    services:
        - App\RouterFactory
        router: @App\RouterFactory::createRouter
        obo:
            class: \obo\obo
            setup:
                - setDefaultDataStorage(\obo\DataStorage\MySQL(@dibi.connection, \obo\DataStorage\DataConverters\DefaultMysqlDataConverter(), \Cache(%obo.datastorageTempDir%)))
                - \obo\obo::$developerMode(%obo.developerMode%)
                - addModelsDirs(%obo.modelsDirs%)
                - setTempDir(%obo.tempDir%)
                - setCache(\Cache(%obo.tempDir%))
        loader: \Loader(\obo\DataStorage\DataConverters\DefaultMysqlDataConverter(), %tdatabase%, \Cache(%obo.datastorageTempDir%))

development < common:
    parameters:
        database:
            host: localhost
            database: obo-demo
            username: root
            password: root
            profiler: true
        tdatabase:
            driver: mysql
            host: localhost
            user: root
            password: root
            profiler: false
        obo:
            modelsDirs:
                - ::MODELS_DIR
