{block title}Edit notice for user profile {$notice->owner->name} {$notice->owner->surname}{/block}
{block content}
    <a href="{link detail $notice->owner->id}">Back to user detail</a>
    {control editNoticeForm}
{/block}
