{block title}Edit notice for user profile {$notice->user->name} {$notice->user->surname}{/block}
{block content}
    <a href="{link detail $notice->user->id}">Back to user detail</a>
    {control editNoticeForm}
{/block}