body {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #333;
	background-color: #fff;
        padding: 10px;
}

h1 {
	font-size: 150%;
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
    margin:10px 0;
}

table td, table th{
    padding: 3px 4px;
}

.datagridFilter{
    margin: 10px 0;
}